*{
    box-sizing: border-box;
    cursor: pointer;
}

h1, h3{
    font-weight: 400;
}

.brand-h{
    margin-left: 200px;
    margin-top: 200px;
}

.brand{
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.weather-app{
    min-height: 100vh;
    background-image: url(./images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather-app::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 3rem 4rem 3rem;
}

.container >div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.city-name, .temp, .weather {
    margin: 0 1em;
}

.city_name h1{
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp{
    font-size: 3em;
    margin: 0;
}

.weather img{
    display: block;
    margin: 0.5em 0;
}

.panel{
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(5, 5, 5, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 225, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form{
    margin-bottom: 5em;
}



.submit{
    position: absolute;
    margin-left: 20px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit hover{
    background: white !important;
    color: black;
}

.search{
    background: none;
    border: none;
    border-bottom: 1px rgb(201, 198, 198) solid;
    padding: 0 1em 0.5em  0;
    width: 80%;
    color: white;
    font-size: 1.1em;
}

.search:focus{
    outline: none;
}

.search::placeholder{
    color: rgb(187, 185, 185);
}

.panel ul{
    padding: 0 0 1em 0;
     margin: 1em 0;
     border-bottom:  1px rgb(184, 181, 181) solid;
}

.panel ul li{
    color: rgb(176, 174, 174);
    margin: 2em 0;
}
 
.panel ul h4{
    margin: 1em 0;
}

.city{
    display: block;
    cursor: pointer;
}

.city:hover{
    color: rgb(192, 189, 189);
}

.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .panel, .container{
        position: relative;
        width: 100%;
        top: initial;
    }
    .brand-h{
        margin-left: 10px;
        margin-top: 10px;
    }
    .brand{
        font-size: 40px;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 12px;
    }
        .brand-h{
        margin-left: 100px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .brand{
        font-size: 35px;
    }
    .search{
        width: 90%;
    }
}

@media screen and (max-width: 300px){
    .weather-app{
        min-height: 10em;
    }
    .brand{
        font-size: 30px;
    }

}
